.App {
  text-align: center;
}

.App-header {
  background-color: #1a1129;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img, .App-header p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header a {
  color: #899c4b;
}

.App-header img {
  padding: 5px;
  max-width: 90vw;
}
